 #botao_menu_mobile{
	display:none;
}
#menu_mobile{

	 display: none;
}


#menu_mobile{
		 
	 
	 
	padding: 10PX;
	border-radius: 3px;
}

#menu_mobile div{
	text-align: center;
	padding-left: 10px;
	margin-top: 10px;
	
}

#menu_mobile div a{

	color: #000;


}

#botao_menu_mobile{
  
  float: right;

  background-color: red;
}





 @media (max-width: 700px){

.menu_inf{
	display: none;
}

#botao_menu_mobile{
	display: block;
	  
	  margin-right: 28px;
}

.menu{
	display: none;
}


#banner1 {

 padding-top: 0px;

padding-top: 0px;

}


#m_logo a{
	background-color: #000;
	text-align: center;
	 
}



 
 }

  @media (max-width: 570px){

.banner_efeito {
    margin-top: -30px;

}

.banner_efeito .col-sm-4{
	    margin-top: 45px;
}


.banner-into {
	margin-top:0 ;
}


 
 }